extends layout

block content
  ul
    each val in events
      li
        ul
          li
            h3 
              a(href= val.url) #{val.name}
          li
            h4 #{val.group}
          li #{val.time}